
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


.offer{
  font-family: 'Roboto Condensed', sans-serif;
}

.carImg{
  opacity: 0.9 ;
  backface-visibility: hidden;
}

.breadcrumb-dot .breadcrumb-item+.breadcrumb-item::before {
    content: "•";
    color: #408080;
}

.form-control-lg, .form-control{
  border-radius: 0px;
  border-color: #efeded;

}

.subit{
  background: #800080;
}

.profession{
  color: #800080;
}

.teamImg{
  -webkit-transition:all .4s linear;
transition:all .4s linear;
}

.teamImg:hover{
-ms-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1);
}
